body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    background-color: var(--ultrawhite);
    color: #434455;
}

.h1{
    margin: 50px 35% 0 35%;
    display: block;
    font-family: arial;
}

.a_span{
    display: block;
    margin: 5px 47% 0 47%;
    font-family: Helvetica;
}